@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,500;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.cambiomain h1 {
  text-align: center;
  text-transform: uppercase; }
  .cambiomain h1:hover {
    color: blue; }

.cambiomain section {
  display: flex; }

.cambiomain img {
  display: flex;
  width: 50%;
  height: 400px;
  margin: 5px; }

footer {
  background-color: #4B644A;
  padding: 15px; }
  footer p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; }

.header1 {
  background-color: #12125f9a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; }
  .header1__logo {
    height: 45px;
    width: 61px;
    margin-left: 1rem; }
  .header1__ul {
    display: flex;
    list-style: none; }
    .header1__ul--negrita {
      font-weight: 600; }
    .header1__ul li {
      padding: 1rem; }
      .header1__ul li a {
        font-family: "Kanit", sans-serif;
        color: black;
        text-decoration: none; }
