* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


//VARIABLES (SIEMPRE ARRIBA) DE LA SEGUNDA CLASE

@import './variables/colors';
@import './variables/typo';
@import './variables/extend';
  
  //PAGINA MAIN DE LA PRIMERA CLASE
  @import './secciones/main-index';
  
 @import './secciones/footer';

 //DE LA CLASE DE SASS 2

 @import './seccionesSass2/headerSass2';
 @import './seccionesSass2/mainSass2'